<div class="pt-5 container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname" [(ngModel)]="surname">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="password">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="canread" id="canread" name="canread" [(ngModel)]="canread">
      <label class="form-check-label" for="canread">
        Can read users
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="cancreate" id="cancreate" name="cancreate" [(ngModel)]="cancreate">
      <label class="form-check-label" for="cancreate">
        Can create users
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="canupdate" id="canupdate" name="canupdate" [(ngModel)]="canupdate">
      <label class="form-check-label" for="canupdate">
        Can update users
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="candelete" id="candelete" name="candelete" [(ngModel)]="candelete">
      <label class="form-check-label" for="candelete">
        Can delete users
      </label>
    </div>

    <button [hidden]="!getCanAddPerm()" type="submit" class="btn btn-primary mt-2" (click)="addUser()">Submit</button>
  </form>
</div>
